.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--primery-bg-color);
	padding: 20px 15px;
}
.logo{
	font-size: 18px;
	font-weight: 600;
	margin: 3px 0;
	text-transform: uppercase;
	color: var(--primery-color);
}
.logout,
.btn{
	border: 1px solid var(--primery-color);
	background: none;
	color: var(--primery-color);
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
}
.btn:last-child{
    margin-left: 15px;
}
.block{
	display: flex;
}
.avatar{
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.user{
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.name{
	color: var(--primery-color);
	letter-spacing: 1.1px;
	margin-left: 10px;
}