.wrapper{
	width: 100vw;
	height: calc(100vh - 75px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.inner{
	flex: 0 1 550px;
	margin: 0 auto;
	padding: 15px;
	box-shadow: -5px 5px 10px var(--shadow-color);
	border-radius: 10px;
	background: var(--primery-bg-color);
	position: relative;
}
.title{
	font-size: 24px;
	color: var(--primery-color);
	font-weight: 600;
	letter-spacing: 3px;
	text-align: center;
}
.body{	
	width: 100%;
	margin: 20px 0;
}
.item{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: 4px;
	background: var(--primery-color);
	padding: 10px;
}
.text{
	flex: 0 1 414px;
	padding: 0 10px;
	font-size: 18px;
	line-height: 24px;
}
.data{
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: var(--primery-color);
	margin: 5px 0;
}
.btn{
	width: 20px;
	height: 20px;
    cursor: pointer;
    padding-left: 10px;
    transition: all 0.7s ease 0s;
}
.btn:hover{
	transform: scale(1.3);
	transition: all 0.7s ease 0s;
}