.main{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: calc(100vh - 75px);
	padding: 0 15px;
}
.info{
	flex: 0 1 100%;
	text-align: center;
}
.title{
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--secondary-color);
}
.text{
	max-width: 540px;
	margin: 20px auto 0;
	font-size: 20px;
	color: var(--secondary-color);
}