.avatar{
	width: 250px;
	height:  250px;
	border-radius: 50%;
	border: 2px solid var(--primery-bg-color);
	box-sizing: border-box;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
}
.img{
	width: 250px;
	border-radius: 50%;
}