.wrapper{
	height: calc(100vh - 75px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.inner{
	flex: 0 1 350px;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
	box-shadow: -5px 5px 10px var(--shadow-color);
	border-radius: 10px;
	background: var(--primery-bg-color);
	position: relative;
}
.form{
	width: 100%;
	margin-bottom: 40px;
}
.title{
	font-size: 24px;
	color: var(--primery-color);
	font-weight: 600;
	letter-spacing: 3px
}
.label{
	letter-spacing: 1px;
	line-height: 2;
	text-align: left;
	display: block;
	margin-bottom: 5px;
	margin-top: 15px;
	color: var(--primery-color);
	font-size: 14px;
	font-weight: 200;
	position: relative;
}
.input{
	display: block;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	border: 1px solid var(--secondary-color);
	padding: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}
.btn{
	width: 100%;
	border-radius: 4px;
	background: var(--primery-color);
	color: var(--secondary-color);
	text-transform: uppercase;
	border: none;
	margin-top: 20px;
	padding: 10px;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 10px;
	transition: 0.6s all;
	cursor: pointer;
}
.btn:hover {
	transform: translateY(3px);
	transition: 0.6s all;
}
.btn:disabled {
	opacity: 0.4;
}