.avatar{
	height: calc(100vh - 75px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.inner{
	flex: 0 1 350px;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
	box-shadow: -5px 5px 10px var(--shadow-color);
	border-radius: 10px;
	background: var(--primery-bg-color);
	position: relative;
}
.title{
	font-size: 24px;
	color: var(--primery-color);
	font-weight: 600;
	letter-spacing: 3px;
}
.close{
	width: 20px;
	height: 20px;
	position: absolute;
	background: var(--primery-color);
	border-radius: 1px;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
.line{
	height: 2px;
	width: 16px;
	position: absolute;
	top: 9px;
	left: 0;
	right: 0;
	margin: auto;
	background: var(--primery-bg-color);
}
.line:first-child{
    transform: rotate(45deg);
}
.line:last-child{
    transform: rotate(-45deg);
}
.input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.label{
	background: var(--primery-color);
	width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: 0.6s all;
    color: var(--secondary-color);
    margin: 10px auto;
}
.label:hover {
   	box-shadow: -5px 5px 10px var(--shadow-hover-color);
}
.img{
	width: 180px;
	height: 180px;
	margin: 20px auto;
	border: 2px solid var(--primery-color);
	position: relative;
}
.img img{
	width: 180px;
	height: 180px;
}
.img .close{
	top: 0;
	right: 0;
}
.button{
	width: 100%;
	border-radius: 4px;
	background: var(--primery-color);
	color: var(--secondary-color);
	text-transform: uppercase;
	border: none;
	margin-top: 20px;
	padding: 10px;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 10px;
	transition: 0.6s all;
	cursor: pointer;
}
.button:hover {
	transform: translateY(3px);
	transition: 0.6s all;
}
.button:disabled {
	opacity: 0.4;
}