.preloader{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: calc(100vh - 75px);
	background: var(--primery-bg);
	z-index: 10;
}
.load{
	margin: auto; 
}