.card{
	display: flex;
   	flex-direction: column;
	flex: 0 0 250px;
    min-height: 55%;
	border-radius: 10px;
	background: var(--secondary-bg-color);
	text-align: center;
	color: var(--primery-color);
	box-shadow: 0px 5px 10px 2px var(--shadow-color);
	transition: all 0.6s ease;
	will-change: transform, box-shadow;
}
.card:hover{
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	box-shadow: 0px 5px 10px 2px var(--shadow-hover-color);
	transition: all 0.6s ease;
}
.header{
	background: var(--primery-bg-color);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 20px 0;
}
.headline{
	font-size: 24px;
	letter-spacing: 1.5px;
	padding: 20px;
}
.subtitle{
	font-size: 18px;
	padding: 20px 10px;
	letter-spacing: 1.5px;
}