.alert {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;

}
.hide {
  display: hide;
}