.info{
	padding: 120px 15px 20px;
    text-align: center;
    margin: 150px auto 0;
    background: var(--primery-bg-color);
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    color: var(--primery-color);
}
.name{
	font-size: 26px;
	letter-spacing: 1.5px;
	line-height: 36px;
}
.age, .emai{
	padding: 20px 0;
	font-size: 16px;
	letter-spacing: 1.5px;
	line-height: 26px;
}