.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 67px);
	position: relative;
}
.form{
	flex: 0 1 350px;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
  box-shadow: -5px 5px 10px var(--shadow-color);
  border-radius: 10px;
  background: var(--primery-bg-color);
}
.title{
	font-size: 30px;
  color: var(--primery-color);
  font-weight: 600;
  letter-spacing: 3px;
}
.label{
	letter-spacing: 1px;
	line-height: 2;
	text-align: left;
	display: block;
	margin-bottom: 5px;
	margin-top: 15px;
	color: var(--primery-color);
	font-size: 14px;
	font-weight: 200;
	position: relative;
}
.input{
	display: block;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	border: 1px solid var(--secondary-color);
	padding: 10px 15px 10px 40px;
	margin-bottom: 10px;
	font-size: 14px;
}
.error p{
	font-size: 14px;
	font-weight: 200;
	letter-spacing: 1px;
	color: var(--error-color);
	text-align: left;
}
.error p::before{
	display: inline-block;
	content: "⚠ ";
	margin-right: 5px;
}
.btn{
	width: 100%;
	border-radius: 4px;
	background: var(--primery-color);
	color: var(--secondary-color);
	text-transform: uppercase;
	border: none;
	margin-top: 40px;
	padding: 10px;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 10px;
	transition: 0.6s all;
}
.btn:hover {
  transform: translateY(3px);
  transition: 0.6s all;
}
input:disabled {
  opacity: 0.4;
}
.text{
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 1px;
	color: var(--primery-color);
	padding: 10px 0;
}
.link{
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 1px;
	color: var(--primery-color);
	padding-left: 5px;
	text-decoration: underline;
}
.icon{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 38px;
	left: 10px;
}