.wrapper{
	height: calc(100vh - 75px);
	padding: 0 15px;
	overflow-x: hidden;
	position: relative;
}
.btn{
	max-width: 700px;
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
}
.title{
	display: block;
	font-size: 20px;
	padding: 10px;
	letter-spacing: 1.5px;
	color: var(--primery-color);
}
.items{
	max-width: 680px;
	margin: 20px auto;
	background: var(--primery-bg-color);
	border-radius: 10px;
	padding: 10px;
}
.item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--primery-color);
	padding: 5px;
	border-radius: 10px;
	margin: 10px 0;
	transition: all 0.7s ease 0s; 
}
.item a{
	flex: 0 1 525px;
	padding: 0 20px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--secondary-color);
}
.item:hover{
	transform: translate(2px, -2px);
	transition: all 0.7s ease 0s; 
}
.text{
	font-size: 16px;
	letter-spacing: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--secondary-color);
	pointer-events: none;
	text-decoration-line: line-through;
	opacity: 0.4;
}
.btn_delete{
	width: 25px;
	height: 25px;
    cursor: pointer;
    padding-left: 10px;
    transition: all 0.7s ease 0s;
}
.btn_delete:hover{
	transform: scale(1.2);
	transition: all 0.7s ease 0s;
}
.gif{
	width: 250px;
	margin: 20px auto;
	text-align: center;
}
.completed{
	cursor: pointer;
    border: none;
    background: transparent;
}
.completed:disabled{
	opacity: 0.4;
}