.wrapper{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: calc(100vh - 75px);
	padding: 0 15px;
	position: relative;
}
.title{
	flex: 0 1 100%;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--secondary-color);
}
.theme{
	flex: 0 0 250px;
	min-height: 50%;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	box-shadow: 0px 5px 10px 2px var(--shadow-color);
	border: none;
	transition: all 0.6s ease;
	will-change: transform, box-shadow;
	cursor: pointer;
}
.theme:hover{
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	box-shadow: 0px 5px 10px 2px var(--shadow-hover-color);
	transition: all 0.6s ease;
}
.theme:nth-child(3){
	background: linear-gradient(135deg, rgba(44,45,50,1) 10%, rgba(209,209,209,1) 90%);
}
.theme:nth-child(4){
	background: linear-gradient(135deg, rgba(0,0,116,1) 10%, rgba(179,209,235,1) 90%);
}
.theme:nth-child(5){
	background: linear-gradient(135deg, rgba(0,0,0,1) 30%, rgba(96,183,0,1) 100%);
}