body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
input:focus{
  outline: none;
}
textarea{
  outline: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html[data-theme='darkTheme'] {
  --primery-bg: #d1d1d1;
  --primery-bg-color: #2c2d32;
  --secondary-bg-color: #6a6d70;
  --primery-color: #ffffff;
  --secondary-color: #000000;
  --error-color: #ff0000;
  --bg-success: #149d14;
  --hover-color: #000000;
  --shadow-color: #2c2d32;
  --shadow-hover-color: #a1a3b7;

}
html[data-theme='blueTheme'] {
  --primery-bg: #b3d1eb;
  --primery-bg-color: #000074;
  --secondary-bg-color: #004bd3;
  --primery-color: #ffffff;
  --secondary-color: #000000;
  --error-color: #ff0000;
  --bg-success: #149d14;
  --hover-color: #1411c5;
  --shadow-color: #0a1650;
  --shadow-hover-color: #a1a3b7;
}
html[data-theme='darkGreenTheme'] {
  --primery-bg: #d1d1d1;
  --primery-bg-color: #2c2d32;
  --secondary-bg-color: #000000;
  --primery-color: #60b700;
  --secondary-color: #000000;
  --error-color: #ff0000;
  --bg-success: #149d14;
  --hover-color: #000000;
  --shadow-color: #2c2d32;
  --shadow-hover-color: #a1a3b7;
}