.close{
	width: 20px;
	height: 20px;
	position: absolute;
	background: var(--primery-color);
	border-radius: 1px;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
.line{
	height: 2px;
	width: 16px;
	position: absolute;
	top: 9px;
	left: 0;
	right: 0;
	margin: auto;
	background: var(--primery-bg-color);
}
.line:first-child{
    transform: rotate(45deg);
}
.line:last-child{
    transform: rotate(-45deg);
}