.status{
	width: 100vw;
	height: calc(100vh - 67px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.window{
	flex: 0 1 30%;
	background: var(--primery-color);
	border-radius: 10px;
	box-shadow: -5px 5px 10px var(--shadow-color);
	padding-bottom: 30px;
	text-align: center;	
}
.item{
	text-align: center;
	padding: 30px 15px;
	background: var(--bg-success);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.message{
	color: var(--primery-color);
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1.5px;
	margin-top: 20px;
}
.text{
	font-size: 18px;
	letter-spacing: 1px;
	color: var(--secondary-color);
	padding: 40px 15px;
}
.link{
	font-size: 18px;
	padding: 10px 30px;
	background: var(--bg-success);
	border-radius: 20px;
	color: var(--primery-color);
}