.profile{
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 75px);
	padding: 0 15px;
	position: relative;
}
.body{
	flex: 0 1 100%;
	position: relative;
}
.settings{
	display: flex;
	justify-content: space-between;
	background: var(--primery-bg-color);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.btn, .btn_avatar{
	flex: 0 1 25%;
	font-size: 14px;
	letter-spacing: 1px;
	color: var(--primery-color);
	text-align: center;
	padding: 15px;
	cursor: pointer;
	transition: 0.6s all;
}
.btn:first-child{
	border-bottom-left-radius: 10px;
}
.btn:last-child{
	border-bottom-right-radius: 10px;
}
.btn:hover, .btn_avatar:hover{
	background: var(--hover-color);
	transition: 0.6s all;
}
