.back{
	width: 150px;
	position: absolute;
	top: 15px;
	left: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.text{
	font-size: 16px;
	color: var(--secondary-color);
	letter-spacing: 3px
}