.btn{
	flex: 0 1 300px;
	background: var(--secondary-bg-color);
	text-align: center;
	border-radius: 10px;
	transition: all 0.7s ease 0s; 
}
.btn:hover{
	transition: all 0.7s ease 0s; 
	background: var(--primery-bg-color);
	box-shadow: -5px 5px 10px var(--shadow-color);
}
.title{
	display: block;
	font-size: 18px;
	padding: 10px;
	letter-spacing: 1.5px;
	color: var(--primery-color);
}